:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--navybluemodal);
}

/* header */
.nav .logo {
  color: var(--iris);
}

.logo-up {
  color: var(--navyblue);
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.nav-link.link {
  color: var(--navyblue);
}

.address-link.link {
  color: var(--navyblue);
}

.menu-nav {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.address-header {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.list .link:hover,
.list .link:focus {
  color: #9747ff;
}


/* main */
.mainheader {
  color: var(--white);
}

button {
  color: var(--iris);
  border: solid 1px;
  font-size: 16px;
  border-color: var(--cornflower);
  background-color: var(--cloud);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

.active-button {
  background-color: var(--iris);
  color: var(--white);
}

.dark-backgrnd {
  background-color: var(--navyblue);
  width: 1440;
  height: 600;
}

.list {
  list-style-type: none;
}

.team-section {
  background-color: var(--cloud);
}

.functionality {
  color: var(--slate);
}

.app-name {
  color: var(--grey);
  font-size: 20px;
  line-height: 1.5;
}

/* footer */
.footer {
  color: var(--cloud);
  font-size: 16px;
  width: 264;
}

.logo-down {
  color: var(--cloud);
  text-transform: uppercase;
}

.dark-backgrnd .link {
  color: var(--iris);
}
